<component name="libraryTable">
  <library name="Spring MVC-4.2.4.RELEASE" type="spring-mvc">
    <CLASSES>
      <root url="jar://$PROJECT_DIR$/WebContent/WEB-INF/lib/spring-webmvc-4.2.4.RELEASE1.jar!/" />
      <root url="jar://$PROJECT_DIR$/WebContent/WEB-INF/lib/spring-web-4.2.4.RELEASE1.jar!/" />
      <root url="jar://$PROJECT_DIR$/WebContent/WEB-INF/lib/spring-webmvc-portlet-4.2.4.RELEASE1.jar!/" />
      <root url="jar://$PROJECT_DIR$/WebContent/WEB-INF/lib/spring-websocket-4.2.4.RELEASE1.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>