<component name="ArtifactManager">
  <artifact type="exploded-war" name="spring-mybatis:Web exploded">
    <output-path>$PROJECT_DIR$/out/artifacts/spring_mybatis_Web_exploded</output-path>
    <root id="root">
      <element id="javaee-facet-resources" facet="spring-mybatis/web/Web" />
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="spring-mybatis" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="Spring-4.2.4.RELEASE" />
        </element>
      </element>
    </root>
  </artifact>
</component>